<div class="ml-1">
  <ul>
    <li class="my-1">
      <span class="flex items-center gap-1">
        <i class="pi pi-folder"></i> Home
      </span>

      <ul class="pl-4 subFolders">
        <li class="my-1" *ngFor="let folder of workspace">
          <span class="flex items-center gap-1">
            <i class="pi pi-folder"></i> {{ folder.name }}
          </span>
          <ul class="pl-4 subFolders">
                <rusty-folder [folders]="folder.nodes"/>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</div>
