:host {
  font-size: var(--font-size-secondary);
  font-weight: var(--font-weight-secondary);
}
.item:hover {
  background-color: var(--bluegray-900);
  border-radius: 2px;
  cursor: pointer;
}
ul {
  list-style-type: none;
  padding: 0;
}

