.workpad-container{
  display: grid;
  grid-template-columns: minmax(20px, min-content) auto;
  
  line-height: 1.5em;
  align-content: center;
  font-family: var(--workpad-font-family), serif;
  
  .id-container{
    align-content: center;
    border-right: 1px solid var(--primary-dark-800);
    text-align: right;
    padding: var(--padding-s);
    font-size: var(--font-size-secondary);
    background-color: var(--workpad-background-elevated);
    box-shadow: rgba(15, 15, 15, 0.19) 1.95px 1.95px 2.6px;
  }
  .workpad {
    width: auto;
    color: var(--text-color-base);
    border: none;
    resize: none;
    overflow: hidden;
    outline: none;
    align-content: center;
    padding-left: var(--padding-s);
    margin-left: 3px;
  }
  
}

