.workpad-containers {
  width: 100%;
  font-family: var(--workpad-font-family), serif;
  padding: var(--padding-m);
  color: var(--base-text-color);
  border: none;
  resize: none;
  overflow: hidden;
  outline: none;
  line-height: 1.5em;
  padding-top: 1.5em;
}
