:host {
    list-style-type: none;
    padding: 0;
}

.item:hover {
  background-color: var(--bluegray-900);
  border: 1px solid var(--accent-color);
  cursor: pointer;
}
ul {
  list-style-type: none;
  padding: 0;
}

