<!-- Contents of the Opened Directory -->
<li class="item" *ngFor="let folder of folders;index as i">
  <span (click)="folder.isDirectory? this.openDirectory(folder): this.readFile(folder)" class="py-1 flex items-center"
    [ngClass]="folder.isDirectory ? '' : 'ml-1 mt-1'">
    <i style="font-size: 12px; align-content: end; margin-right: 3px;" *ngIf="folder.isDirectory" class="pi" [ngClass]="
    folder.expanded ? 'pi-angle-down' : 'pi-angle-right'
  "></i> {{folder.name}}
  </span>

  <!-- Sub Folders - if any  -->
  <ul *ngIf="folder.nodes && folder.expanded" style="padding-left: .7rem;">
    <rusty-folder [folders]="folder.nodes" />
  </ul>
</li>
