<div *ngIf="activeIndex() !=null && activeIndex()! >=0"  >
  <p-tabView (onClose)="tabCloseOptimized($event)" [scrollable]="true" (activeIndexChange)="handleTabIndexChange($event)" [activeIndex]="activeIndex()!" >
    <p-tabPanel *ngFor="let tab of openedTabs | keyvalue : idBasedOrder  " [selected]="tab.value.selected" [closable]="tab.value.isClosable">
        <!-- HEADER -->
        <ng-template pTemplate="header">
            <div  class="flex align-items-center gap-2">
                    {{tab.value.title}}
            </div>
        </ng-template>
        <!-- Content  -->
    </p-tabPanel>
  </p-tabView>
</div>
