<div *ngIf="openedTabs.size"  >
  <p-tabView (onClose)="tabClose($event)" [scrollable]="true" (activeIndexChange)="handleTabIndexChange($event)" [activeIndex]="activeIndex()" >
    <p-tabPanel *ngFor="let tab of openedTabs.entries()" [selected]="tab[1].selected" [closable]="tab[1].isClosable">
        <!-- HEADER -->
        <ng-template pTemplate="header">
            <div  class="flex align-items-center gap-2">
                    {{tab[1].title}}
            </div>
        </ng-template>
        <!-- Content  -->
    </p-tabPanel>
  </p-tabView>
</div>
