<p-splitter
    [panelSizes]="[25, 75]"
    [minSizes]="[1, 20]"
    [style]="{ border: 'none', height: '100%' }"
    styleClass="mb-5">
    <ng-template pTemplate>
      <p-scrollPanel class="w-full" [style]="{ height: '100%', backgroundColor:'var(--surface-dark-secondary)' }" styleClass="custombar1">
        <ng-content ></ng-content>
      </p-scrollPanel>
    </ng-template>

    <ng-template pTemplate>
        <div [style]="{padding:'var(--padding-xs)'}" class="col ">
           <ng-content select="[panel2]"></ng-content>
        </div>
    </ng-template>
</p-splitter>
