@import "quill/dist/quill.core.css";
@import "quill/dist/quill.snow.css";
@import "primeicons/primeicons.css";

/* You can add global styles to this file, and also import other style files */
:root {
  color-scheme: dark light;
  // Background

  // Dark Themes
  --surface-dark-primary: #1e1e1e;
  --surface-dark-secondary: #252526;
  --surface-dark-tertiary: #333333;

  // Light themes
  --surface-light-primary: white;

  --workpad-background: light-dark(
    var(--surface-light-primary),
    var(--surface-dark-primary)
  );

  // Typography
  --workpad-font-family: "Courier New";
  // Color
  --text-color-dark-base: white;
  --text-color-light-base: black;
  --font-color-theme: light-dark(
    var(--text-color-light-base),
    var(--text-color-dark-base)
  );

  --text-color-accent: wheat;

  //  Font - Weight
  --font-weight-primary: 200;
  --font-weight-secondary: 250;
  --font-weight-tertiary: 300;

  // Font - Size
  --font-size-primary: 1rem;
  --font-size-secondary: 0.85rem;

  // paddings and margins
  --padding-xs: 0.25rem;
  --padding-s: 0.4rem;
  --padding-m: 0.75rem;
  --padding-x: 1rem;
  --padding-xl: 1.5rem;

  // line heights
  --workpad-line-height: 1.3;

  // Quill Editor CSS
  // Border
  .p-editor-container {
    height: 100%;
    .p-editor-toolbar.ql-toolbar.ql-snow {
      border: none;
      padding: 0;
    }
    .p-editor-content.ql-container.ql-snow {
      border: none;
      .ql-editor {
        padding: var(--padding-xs);
      }
    }
  }

  // Paddings
  div.p-tabview-panels {
    padding: var(--padding-xs) 0;
  }

  // Tabs Padding CSS
  .p-tabview .p-tabview-nav li {
    width: max(100px, 5%);
    .p-tabview-nav-link {
      padding: 0 var(--padding-xs) var(--padding-xs) var(--padding-xs);
      font-weight: 200;
      font-size: 12px;
    }
    .p-element.p-icon-wrapper {
      margin-left: auto;
      padding-right: 2px;
    }
    timesicon > svg {
      height: 9px;
      width: 9px;
    }
  }
}

* {
  body {
    height: calc(100dvh - 0.5rem);
    margin: var(--padding-xs);
    background-color: var(--workpad-background);
  }
}
// Custom Background per component
.p-splitter, .p-tabview  * , .p-editor-content * {
    background-color: var(--workpad-background) !important;
}

